@model NotesApp.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h2>Edit Category</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" /> <!-- Make sure this hidden field is present -->

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="mb-3 d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" onclick="return confirmDelete()">Delete</a>
    </div>

</form>



